<h1>Dashboard</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Number of Products</th>
        <th> Number of Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <%= link_to @products, [:admin, :products] %>
        </th>
        <th>
          <%= link_to @categories, [:admin, :products] %>
        </th>
      </tr>
    </tbody>
  </table>
</div>
